.box1{
    background-color: rgb(228, 192, 12);
    height: 100px;
    width: 10%;
    flex-grow: 8;
}
.box2{
    background-color: rgb(0, 145, 255);
    height: 100px;
    width: 10%;
    flex-grow: 8;
}
.box3{
    background-color:rgb(221, 0, 255);
    height: 100px;
    width: 10%;
    flex-grow: 8;
}
.main{
    display: flex;
}