.main{
    border: 3px solid black;
    height: 1700px;
    width: 98.8%;
    border-style: dotted;
}
h3{
    margin-left: 10px;
    font-size: 30px;
}
.main1{
    border: 3px solid green;
    height: 500px;
    width: 50%;
    position:relative;
    left: 20px;
}
p{
    font-size: 20px;
}
.main2{
    border: 3px solid green;
    height: 300px;
    width: 60%;
    margin-top: 60px;
    position: absolute;
    
}

h3{
    margin-left: 10px;
    font-size: 30px;
}
.main3{
    border: 3px solid green;
    height: 500px;
    width: 50%;
    position:relative;
    left: 20px;
}
p{
    font-size: 20px;
}
.main4{
    border: 3px solid green;
    height: 300px;
    width: 60%;
    margin-top: 60px;
    position: absolute;
    left: 332px;
    
}

h3{
    margin-left: 10px;
    font-size: 30px;
}
.main5{
    border: 3px solid green;
    height: 500px;
    width: 50%;
    position:relative;
    margin-left: 20px;
    margin-top: 30px;
    
}
p{
    font-size: 20px;
}
.main6{
    border: 3px solid green;
    height: 300px;
    width: 60%;
    margin-top: 60px;
    position: absolute;
    right: 200px;
    top: 30px;
    
}