.main{
    border: 3px solid black;
    height: 500px;
    width: 98.8%;
    border-style: dotted;

}
.para{
    border: 2px solid black;
    margin: 20px;
    width: 500px;
    height: 50px;
    margin-top: 40px;
}
h3{
    margin-left: 20px;
   
}