header{
    background-color: rgb(80, 5, 151);
    padding: 70px 0px;
    
}
nav{
    background-color: rgb(125, 4, 121);
    padding: 50px 0px;
    width: 20%;
    display: inline-block;
}
.box3{
    background-color: plum;
    padding: 20px 0px ;
    width: 10%;
    display: inline-block;
}
/* .box4{
    background-color: aqua;
    padding: 70px 0px;
    width: 30%;
    display: inline-block;
    
} */
